<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="fileLogger"
                     fileName="./logs/app.log"
                     filePattern="./logs/app-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="logs" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- Logger specific pentru clasa ta de booking -->
        <Logger name="licenta.service.BookingPrioritizationRestController" level="DEBUG" additivity="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="fileLogger"/>
        </Logger>

        <!-- Logger pentru toate clasele din service -->
        <Logger name="licenta.service" level="DEBUG" additivity="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="fileLogger"/>
        </Logger>

        <!-- Root logger -->
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>